*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    background-color: rgb(216, 150, 27) ;

}
.container > * {
    padding: 10px ;
}
.container{
    display: grid;
    grid-template: 
        "title title title" 
        "main result result" auto / 30%;
}


/* -----styles div 1 */

.container #div1{
    grid-area: main;
    background-color:rgb(216, 150, 27);
    width: 100%;
}
#div1 p:nth-child(1){
    font-size: 25px; 
    color: rgba(128, 0, 128, 0.788); 
    font-family: cursive;
}
.flex{
    color: navy;
    font-size: 40px;
}
.botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.botones button{
    border-radius: 15px;
    width: 30%;
    height: 5vh;
    border: solid 2px black;
    font-weight: bold;
}
#div1 .input-gap{
    width: 12%;
    height: 4vh;
    border-radius: 5px;
}
.play{
    font-weight: bold;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
}
#div1 .attributes{
    gap: 8px;
    display: flex;
    flex-direction: column;
}
.attributes .property{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
input[type='checkbox']{
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type='checkbox']:hover{
    border: solid 1px rgba(0, 255, 255, 0.678);
}
input[type='checkbox']:after{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-size: 10px;
    font-weight: 900;
    color: white;
    display: none;
}
input[type='checkbox']:checked{
    background-color: rgba(61, 43, 173, 0.712);
}
input[type='checkbox']:checked:after{
    display: block;
}
.check #label2{
    display: none;
}
.check{
    display: flex;
    gap: 10px;
    width: 110px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.attributes button{
    border-radius: 8px;
    padding: 5px 5px;
    background-color: rgb(192, 181, 28);
}
#butons-justify{
    display: none;
}
.butons-align{
    display: none;
}
.butons-flex-direction{
    display: none;
}
.butons-flex-wrap{
    display: none;
}
.block{
    display: block;
}
.none{
    display: none;
}


/* -----styles div 2 */

.container #div2{
    grid-area: title;
    background-color: black ;
    flex-direction: column;
    gap: 5px;
    letter-spacing: 2px;
    color: azure;
    padding: 10px 30px;
}

/* -----styles div 3 */

.container #div3{
    grid-area: result;
    background-color: deepskyblue;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 4px black;
    border-top: none;
}
#div3 .container-padre{
    display: flex;
    padding: 3px 3px;
    background-color: green;
    border: solid 4px black;
    width: 90%;
    height: 90%;
}
.container-padre .containsPurple{
    display: flex;
    width: 15%;
    height: 15vh;
    border: solid 1px black;
    background-color: rgba(128, 0, 128, 0.788);
    justify-content: right;
    align-items: flex-start;
}
.container-padre .containsRed{
    display: flex;
    width: 15%;
    height: 15vh;
    border: solid 1px black;
    background-color: red;
    justify-content: right;
    align-items: flex-start;
}
.container-padre .buttons{
    background: none;
    border: none;
    color: black;
    font-weight: bold;
    margin: 5px 5px;
}
.container-padre .barra{
    display: flex;
    width: 15%;
    height: 15vh;
    border: solid 1px black;
    background-color: red;
    justify-content: right;
    align-items: flex-start;
}
.container-padre .barra button{
    background: none;
    border: none;
    color: black;
    font-weight: bold;
    margin: 5px 5px;
}


/* properties to parent container-padre
    using classList in js*/

.justify-start{
    display: flex;
    justify-content: flex-start;
}
.justify-between{
    display: flex;
    justify-content: space-between;
}
.justify-around{
    display: flex;
    justify-content: space-around;
}
.justify-evenly{
    display: flex;
    justify-content: space-evenly;
}
.justify-center{
    display: flex;
    justify-content: center;
}
.justify-end{
    display: flex;
    justify-content: flex-end;
}
.align-flex-start{
    display: flex;
    align-items: flex-start;
}
.align-center{
    display: flex;
    align-items: center;
}
.align-flex-end{
    display: flex;
    align-items: flex-end;
}

.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.column-reverse{
    display: flex;
    flex-direction: column-reverse;
}
.nowrap{
    display: flex;
    flex-wrap: nowrap;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.wrap-reverse{
    display: flex;
    flex-wrap: wrap-reverse;
}
@media screen and (max-width: 800px) {
    .attributes .property{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .flex{
        font-size: 20px;
    }
    .botones{
        display: flex;
        justify-content: space-between;
    }
    .botones button{
        width: 40%;
        height: 3vh;
        font-weight: bolder;
        font-size: 8px;
        border-radius: 11px;
    }
    .attributes button{
        width: 75px;
        font-size: 10px;
        padding: 1px 1px;
    }
}
@media screen and (max-width: 600px){
    .container{
        display: grid;
        grid-template: 
            "title title" 
            "main main" 
            "result result";
    }
    #div1{
        border: solid 5px black;
    }
}
    
